/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/Gemfile.lock
/rspec-report.xml
/rubocop-report.json
sig

node_modules
package-lock.json
